/* Chrome, Safari, Edge, Opera */
body {
  overflow-y: auto;
  -ms-overflow-style: none; /* 스크롤바 제거*/
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 75px;
}

li {
  margin: 0px;
  padding: 0px;
}

input[type="text"] {
  margin: 0px;
  padding: 0px;
}


/*증량버튼 제거*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 스크롤바 제거*/  
::-webkit-scrollbar {
  display: none;
}

#menu {
  position: fixed;
  top: 0px; 
  left: 0px; 
  width: 100%;
  padding: 10px;
  background-color: #fff; 
  justify-content: space-between;
  display: flex;
  position: fixed;
  z-index: 999; 
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#add_btn {
  width: 24px;
  height: 24px;
}

.container {
  width: 300px;
  height: 400px;
  padding: 5px;
}